<div class="panel panel-default">
	<form data-ng-submit="addAttendee()" name="attendeeForm">
		<div class="form-group">
			<label for="firstNameInput"> <i class="fa fa-user"></i>First
				Name
			</label> <input type="text" id="firstNameInput" class="form-control"
				data-ng-model="attendee.firstName" size="30" required
				placeholder="Attendee's first name" /> 
		</div>
		<a href="#/" class="btn btn-default">Cancel</a> 
		<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="isClean() || myForm.$invalid">Save</button>
		<button class="btn btn-default" data-ng-click="destroy()" data-ng-show="attendee.id != undefined" class="pull-right">Delete</button>
		 
	</form>
</div>